body {
	font-family: "Montserrat";
}

.title-heading {
	font-family: "Montserrat", sans-serif;
	font-weight: 900; /* black */
	font-size: 3rem;
	color: white;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat";
}

#title {
	height: 45rem;
}

/* SECTIONS */
.colored-section {
	background-color: #ff4c68;
	color: #fff;
}

.white-section {
	background-color: white;
}

/* NAVBAR BRAND */
.nav-link {
	font-family: "Montserrat";
	font-weight: bolder;
	font-style: italic;
}
.nav-item {
	padding: 0 20px;
}
.navbar {
	padding-bottom: 3rem;
}
.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bolder;
}

.download-button {
	margin: 50px 0 0 0;
}

.title-image {
	width: 25%;
	transform: rotate(25deg);
	position: absolute;
}

/* FEATURES */

.features-heading {
	font-size: 1.5rem;
	line-height: 1.5;
}

.features-text {
	color: rgb(104, 103, 103);
}

#features {
	padding: 10% 15%;
	position: relative;
	z-index: 1;
	background-color: #fff;
}

.icon {
	color: #ef8172;
}

.icon:hover {
	color: #ff4c68;
}

/* TESTIMONIALS SECTION */
#testimonials {
	text-align: center;
}

.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

#press {
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}

.carousel-item {
	padding: 10% 15%;
}

/* PRICING */
.pricing-text {
	color: rgb(104, 103, 103);
}
#pricing {
	padding: 100px;
}

.card {
	text-align: center;
	min-height: 380px;
}

@media (max-width: 992px) {
	.title-image {
		position: static;
		transform: rotate(0);
		z-index: 0;
		width: 35%;
	}
	.title-image-div {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.download-button {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.title-div {
		text-align: center;
	}
	.navbar {
		padding-bottom: 0;
	}
}

/* CALL TO ACTION */

#cta {
	padding: 7% 15%;
	text-align: center;
}

/* FOOTER */
#footer {
	text-align: center;
	padding-top: 50px;
}

.button-footer {
	border: 0;
	background-color: white;
	margin: 0 20px 0 20px;
	padding-bottom: 20px;
}
